<footer>

    <div class="bottom-details">
        <div class="bottom_text">
            <span class="copyright_text">@ <a
                    href="https://www.instagram.com/beingvipinkiruba/">beingvipinkiruba</a></span>

        </div>
    </div>
</footer>


<script src="styles.js"></script>
</body>

</html>